<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header-section(title='Upcoming Birthdays')}"></head>
<body>
<div class="container">

    <!--    Navbar menu -->
<div th:replace="~{fragments/navbar::navbar-section}"></div>

    <!--  Div para desplegar tabla  -->
    <div class="container text-center" style="margin: 30px">
        <h3>Upcoming birthdays</h3>
    </div>

    <div class="container">

    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">姓</th>
            <th scope="col">名字</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Birthday</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="contact : ${birthdayContactList}">
            <th th:text="${contact.idContact}" scope="row"></th>
            <td th:text="${contact.firstNameEng}"></td>
            <td th:text="${contact.familyNameEng}"></td>
            <td th:text="${contact.firstNameCh}"></td>
            <td th:text="${contact.familyNameCh}"></td>
            <td th:text="${contact.mobilePhone}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${#temporals.format(contact.birthDate, 'dd-MM-yyyy')}"></td>
            <td>
                <div class="container">
                    <a th:href="@{/edit/{id}(id=${contact.idContact})}"
                       class="btn btn-warning btn-sm me-3">Edit</a>
                    <a th:href="@{/delete/{id}(id=${contact.idContact})}"
                       class="btn btn-danger btn-sm me-3">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        <div th:replace="~{fragments/pagination::pagination-section}"></div>
    </div>
    <div th:replace="~{fragments/footer::footer-section}"></div>
</div>

</body>
</html>